body
{
background-image:url('https://th.bing.com/th/id/OIG4.D1xlg_PkAbPbJDw14g2r');
background-repeat: no-repeat;
background-size: cover;

}
#form
{
    width:500px;
    margin:20vh auto 0 auto;
    padding:20px;
    background-color:whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
    height: 80%;
    background-image: url('https://th.bing.com/th/id/OIP.HrON1qM8_6wLcJ0OpwAdKgAAAA?w=302&h=175&c=7&r=0&o=5&pid=1.7');
    background-repeat: no-repeat;
    background-size: cover;
    

}
#form h1
{
    color:rgb(241, 240, 247);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: initial;
    font-size: 25px;
}
#form button{
    padding:10px;
    margin-top:10px;
    width:100%;
    color:white;
    background-color:blue;
    border:none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;

}
.input-control
{
    display: flex;
    flex-direction: column;

}
.input-control input,.input-control textarea
{
border: 0;
border-bottom: 2px solid greenyellow;
border-radius: 4px;
display: block;
font-size: 12px;
padding:10px;
width:90%;
}
.input-control input:focus
{
    outline: 0;
}
.input-control .success input
{
border-color:green;
}
#form span
{
    border-color:red;
    font-size: 25px;
}
#button
{
    cursor: pointer;
}
 #form label
{
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
    margin-top: 10px;
    color: chartreuse;
}